<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530940192663-1fqesb79mimsg174g54mu056n2144eod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530940192663-1fqesb79mimsg174g54mu056n2144eod</string>
	<key>API_KEY</key>
	<string>AIzaSyCl9zc6HnI5y2GBmuGHe-gcQ4AyO_c9sE8</string>
	<key>GCM_SENDER_ID</key>
	<string>530940192663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FoodyApp</string>
	<key>PROJECT_ID</key>
	<string>foodyapp-37dba</string>
	<key>STORAGE_BUCKET</key>
	<string>foodyapp-37dba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530940192663:ios:fdbd1e63137d0fde85c6d2</string>
	<key>DATABASE_URL</key>
	<string>https://foodyapp-37dba-default-rtdb.firebaseio.com</string>
</dict>
</plist>